<!DOCTYPE html>
<html>
  <head>
    <title>GranBikes</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../../public/images/logo.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/styles/main.css" />
    <link rel="stylesheet" href="../../public/styles/part/header.css" />
    <link rel="stylesheet" href="../../public/styles/pages/404.css" />
  </head>
  <body>
    <header class="flex-container">
      <nav>
      </nav>
      <nav>
        <a href="index.html"
          ><img src="../../public/images/logo.svg" id="logo"
        /></a>
      </nav>
    </header>

    <div class="content">
      <h1>Erro: 404 Página não Encontrada</h1>
      <img src="../../public/images/404.svg" id="img" />
      <div id="link">
        <h2>
          Desculpas, a página que você está buscando não pode ser acessada.
          tente verificar o link, ou
        </h2>
        <a href="index.html" id="back">retorne a página inicial</a>
      </div>
    </div>

    <footer id="contato">
      <div id="footer">
        <div>
          <img src="../../public/images/adress.svg" id="about" />
          <p>Avenida Aaaa, 111, 11111-11</p>
        </div>
        <div>
          <a href="https://github.com/ImaKrp"
            ><img src="../../public/images/github.svg" id="info"
          /></a>
        </div>
        <a href="https://api.whatsapp.com" target="_blank"
          ><div>
            <img src="../../public/images/phone.svg" id="about" />
            <p>(99) 99999-9999</p>
          </div></a
        >
      </div>
    </footer>
  </body>
</html>
