<!DOCTYPE html>
<html>
  <head>
    <title>GranBikes</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../../public/images/logo.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/styles/main.css" />
    <link rel="stylesheet" href="../../public/styles/part/header.css" />
    <link rel="stylesheet" href="../../public/styles/part/footer.css" />
    <link rel="stylesheet" href="../../public/styles/part/product.css" />
    <link rel="stylesheet" href="../../public/styles/pages/index.css" />
  </head>
  <body>
    <header class="flex-container">
      <nav>
        <!-- <div class="dropdown">
          <a href="404.html"><button class="dropbtn">Produtos</button></a>
          <div class="dropdown-content">
            <a href="404.html">Bicicletas</a>
            <a href="404.html">Peças</a>
          </div> -->
        </div>
        <!-- <a href="#contato" class="link">Contato</a> Excluido  -->
        <!-- Adicionado -->
        <a href="#contato" class="link">Colaboradores</a>
        <a href="#contato" class="link">Estoque</a>
      </nav>
      <nav>
        <a href="login.html"
          ><img src="../../public/images/account.svg" id="login"
        /></a>
        <a href="404.html">
         <button class="dropbtn"><img src="../../public/images/logo.svg" id="logo"/></a></button></a>
          <div class="dropdown-content">
            <a href="404.html">Bicicletas</a>
            <a href="404.html">Peças</a>
      </nav>
    </header>

    <div class="content">
      <img src="../../public/images/bicicleta.png" id="image" />
      <div id="background">
        <img src="../../public/images/banner.svg" id="banner" />
      </div>
      <h1>Produtos em Destaque</h1>
      <div id="card-cont">
        <div class="card">
          <img src="../../public/images/casual.png" id="photo" />
          <div id="text">
            <h2>Bicicleta Casual</h2>
            <h3>R$ 2.200,00</h3>
            <p id="description">em 12x R$ 201,66*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
        <div class="card">
          <img src="../../public/images/esportiva.png" id="photo" />
          <div id="text">
            <h2>Bicicleta Esportiva</h2>
            <h3>R$ 15.452,99</h3>
            <p id="description">em 12x R$ 1.416,52*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
        <div class="card">
          <img src="../../public/images/pneu.png" id="photo" />
          <div id="text">
            <h2>Pneu Continental 2.2</h2>
            <h3>R$ 429,99</h3>
            <p id="description">em 12x R$ 39,41*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
        <div class="card">
          <img src="../../public/images/pneu2.png" id="photo" />
          <div id="text">
            <h2>Pneu Continental 29</h2>
            <h3>R$ 449,00</h3>
            <p id="description">em 12x R$ 41,15*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
      </div>
      <div id="card-cont">
        <div class="card">
          <img src="../../public/images/amortecedor.png" id="photo" />
          <div id="text">
            <h2>Amortecedor 26</h2>
            <h3>R$ 135,90</h3>
            <p id="description">em 12x R$ 12,45*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
        <div class="card">
          <img src="../../public/images/guidão.png" id="photo" />
          <div id="text">
            <h2>Guidão Aço</h2>
            <h3>R$ 48,90</h3>
            <p id="description">em 12x R$ 4,48*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
        <div class="card">
          <img src="../../public/images/fita.png" id="photo" />
          <div id="text">
            <h2>Fita Aderente</h2>
            <h3>R$ 240,00</h3>
            <p id="description">em 12x R$ 22,00*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
        <div class="card">
          <img src="../../public/images/enfeite.png" id="photo" />
          <div id="text">
            <h2>Enfeite para Guidão</h2>
            <h3>R$ 51,99</h3>
            <p id="description">em 12x R$ 4,76*</p>
            <a href="404.html"
              ><button id="details">
                Ver Detalhes<img
                  src="../../public/images/details.svg"
                  id="mbike"
                /></button
            ></a>
          </div>
        </div>
      </div>
    </div>

    <footer id="contato">
      <div id="footer">
        <div>
          <img src="../../public/images/adress.svg" id="about" />
          <p>Avenida Aaaa, 111, 11111-11</p>
        </div>
        <div>
          <a href="https://github.com/ImaKrp"
            ><img src="../../public/images/github.svg" id="info"
          /></a>
        </div>
        <a href="https://api.whatsapp.com" target="_blank"
          ><div>
            <img src="../../public/images/phone.svg" id="about" />
            <p>(99) 99999-9999</p>
          </div></a
        >
      </div>
    </footer>
  </body>
</html>
