<!DOCTYPE html>
<html>
  <head>
    <title>GranBikes</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../../public/images/logo.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/styles/main.css" />
    <link rel="stylesheet" href="../../public/styles/part/header.css" />
    <link rel="stylesheet" href="../../public/styles/part/card.css" />
    <link rel="stylesheet" href="../../public/styles/pages/login.css" />
  </head>
  <body>
    <header class="flex-container">
      <nav>
        <a></a>
      </nav>
      <a href="index.html"
        ><img src="../../public/images/logo.svg" id="logo"
      /></a>
    </header>
    <div class="container">
      <div class="card">
        <image src="../../public/images/enter.svg" id="enter" />
        <label>Informe seu E-mail</label>
        <input type="email" placeholder="exemplo@abc.com" />
        <label>Insira a sua Senha</label>
        <input type="password" placeholder="Senha" />
        <div id="registre">
          <h5>Não possui conta?</h5>
          <a href="signup.html" class="button">Resgistre-se</a>
        </div>
        <button type="button">Entrar</button>
      </div>
    </div>
  </body>
</html>
